<%- include("./includes/head.ejs") %>
<body>
  <nav id="nav">
    <div class="nav__container">
      <div class="nav__container__grid">
        <div class="nav__container__grid__element">
          <div class="nav__container__grid__element__image">
            <a href="#intro" class="<%= path === "home" ? "active" : " " %>" >
              <% if(path){%>
              <img
                src="https://img.icons8.com/fluency-systems-regular/144/F5F5DC/home.png"
                alt="home icon"
                class="img"
              />
              <% } else {%>
                <img
                src="https://img.icons8.com/fluency-systems-regular/144/000000/home.png"
                alt="home icon"
                class="img"
              />
              <% } %>
            </a>
          </div>
        </div>
        <div class="nav__container__grid__element">
          <div class="nav__container__grid__element__image">
           <a href="#projects" class="<%= path === "project" ? "active" : " " %>">
              <% if(path){%>
              <img
                src="https://img.icons8.com/ios/100/000000/project.png"
                alt="project icon"
                class="img"
              />
              <% } else {%>
                <img
                src="https://img.icons8.com/ios/100/000000/project.png"
                alt="project icon"
                class="img"
              />
              <% } %>
    
           </a>
          </div>
        </div>
        <div class="nav__container__grid__element">
          <div class="nav__container__grid__element__image">
            <a href="#contact">
            <img
              src="https://img.icons8.com/fluency-systems-regular/96/000000/contact-card.png"
              alt="Contact icon"
              class="img"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  
    <div id="navigator">
      <div class="navigator__container">
        <div class="navigator__container__grid">
          <div class="navigator__container__grid__element">
            <div class="navigator__logo">
              <a href="/" class="navigator__logo__link">
              <img src="/img/logo.svg" alt="Logo" class="logo">
              </a>
            </div>
          </div>
          <div class="navigator__container__grid__element">
            <div class="navigator__social">
              <ul class="navigator__social__list">
                <li class="navigator__social__list__item">
                  <a href="/login" class="navigator__social__list__item__link">
                    <i class="fa-solid fa-copyright"></i>
                  </a>
                </li> 
                <li class="navigator__social__list__item">
                  <a href="https://www.facebook.com/solo.linux4u/"  target="_blank" class="navigator__social__list__item__link">
                    <i class="fa-brands fa-facebook"></i>
                  </a>
                </li> 
                <li class="navigator__social__list__item">
                  <a href="https://www.instagram.com/raj.3__/" target="_blank" class="navigator__social__list__item__link">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                </li> 
                <li class="navigator__social__list__item">
                  <a href="https://github.com/sololinux" target="_blank" class="navigator__social__list__item__link">
                    <i class="fa-brands fa-github"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="intro">
      <div class="intro__container">
        <div class="intro__container__grid">
          <div class="intro__container__grid__element">
            <div class="intro__container__grid__element__header">
              <h1 class="header">Solo Linux</h1>
            </div>
          </div>
          <div class="intro__container__grid__element">
            <div class="intro__container__grid__element__sub-header">
              <h2 class="sub-header">Hey Everyone!</h2>
            </div>
            <div class="intro__container__grid__element__list">
              <ul class="list">
                <li class="list__item">
                  <p class="list__item__para">I am solo <span class="highlight">(aka. Raj)</span></p>
                </li>
                <li class="list__item">
                  <p class="list__item__para">And I am learning to code,</p>
                </li>
                <li class="list__item">
                  <p class="list__item__para">Insanely, intrested in Cyber Security</p>
                </li>
                <li class="list__item">
                  <p class="list__item__para">Dreaming to join Anonymous one day.. hehe</p>
                </li><li class="list__item">
                  <p class="list__item__para">I like<span class="highlight">Backend programming.</span></p>
                </li>
                <li class="list__item">
                  <p class="list__item__para">but not so good in Frontend.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    

  <!-- <div class="main">
    <h1 style="display: none">solo solo solo solo solo solo solo solo solo</h1>
    <p class="p">
      <span class="solo">Solo </span><span class="linux">Linux</span><br />
      Hey,<br /><br />
      <i class="fa-solid fa-arrow-right"></i> I'm Solo (aka. Raj).<br />
      <i class="fa-solid fa-arrow-right"></i> and I am learning to code,
      <br />
      <i class="fa-solid fa-arrow-right"></i> insanely, intrested in Cyber
      Security, <br />
      <i class="fa-solid fa-arrow-right"></i> dreaming to join Anonymous one
      day.. hehe <br />
      <i class="fa-solid fa-arrow-right"></i> I like Backend programming,
      <br />
      <i class="fa-solid fa-arrow-right"></i> but,
      <span class="highl">not so good in Frontend</span>.
    </p>
  </div> -->
  <div class="content"></div>

  <div class="project" id="2">
    <div class="pup">
      <p class="lessi">
        These are the projects I have done
        <span class="spec">Previously.</span>
      </p>
      <p class="morei">
        <span class="spec">Tap/Hover</span> to get details about them
      </p>
    </div>

    <div class="cards">
      <div class="row1">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="img/solo-mail.png" alt="Solo Mail" />
            </div>
            <div class="flip-card-back">
              <h2>Anonymous Mail sender</h2>
              <p>Sends anonymous mail and multimails</p>
              <p>Webapp made using node.js</p>
              <div class="links">
                <a href="https://solomail.herokuapp.com" target="_blank">
                  <p><i class="fa-brands fa-chrome"></i> Visit the Website</p>
                </a>
                <a href="https://github.com/sololinux/soloMail" target="_blank">
                  <p><i class="fa-brands fa-github"></i> Go to Github repo</p>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="img/solo-login.png" alt="Solo Login" />
            </div>
            <div class="flip-card-back">
              <h2>Login/Signup authentication</h2>
              <p>
                Simple login/signup webapp with email verification and password
                hashing
              </p>
              <p>Webapp made using node.js and mongodb</p>
              <div class="links">
                <a href="https://solologin.herokuapp.com" target="_blank">
                  <p><i class="fa-brands fa-chrome"></i> Visit the Website</p>
                </a>
                <a
                  href="https://github.com/sololinux/soloLogin"
                  target="_blank"
                >
                  <p><i class="fa-brands fa-github"></i> Go to Github repo</p>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="img/bash-arch.png" alt="Bash-treminal" />
            </div>
            <div class="flip-card-back">
              <h2>Linux terminal config</h2>
              <p>Cool and nice looking linux terminal design</p>
              <p>.bashrc made with bash</p>
              <div class="links">
                <a href="https://github.com/sololinux/.bashrc" target="_blank">
                  <p><i class="fa-brands fa-github"></i> Go to Github repo</p>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="row2"> -->
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="img/discord-bot.png" alt="Discord bot" />
            </div>
            <div class="flip-card-back">
              <h2>Discord Bot</h2>
              <p>Simple discord meme and joke bot</p>
              <p>Made using python</p>
              <div class="links">
                <a
                  href="https://discord.com/oauth2/authorize?client_id=947876744965271582&scope=bot"
                  target="_blank"
                >
                  <p>
                    <i class="fa-brands fa-discord"></i> Get the bot in your
                    server
                  </p>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="img/ig.png" alt="Clone" />
            </div>
            <div class="flip-card-back">
              <h2>InstaPost scraper</h2>
              <p>
                Fetches instagram posts and views in html insta clone using
                Basic Display Api.
              </p>
              <p>Webapp made using node.js and Display Api</p>
              <div class="links">
                <a
                  href="https://github.com/sololinux/getInstaFeed"
                  target="_blank"
                >
                  <p><i class="fa-brands fa-github"></i> Go to Github repo</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="not">
      <p>
        Some of the project may not be working as I don't have time to maintain
        them.. solo is bg
      </p>
    </div>
  </div>

  <div class="contact" id="3">
    <div class="clip">
      <p class="tag">Want to contact me, Leave a message</p>
      <div class="form">
        <form id="smsg">
          <input
            type="text"
            name="name"
            placeholder="Name"
            class="all"
            id="name"
            autocomplete="off"
            required
          />
          <br />
          <input
            type="email"
            name="email"
            placeholder="E-mail"
            class="all"
            id="email"
            autocomplete="off"
            required
          />
          <br />
          <textarea
            name="msg"
            placeholder="Your message"
            class="all"
            rows="10"
            cols="45"
            id="msg"
            required
          ></textarea>
          <br />
          <input
            type="submit"
            name="submit"
            value="Send"
            class="send"
            id="send"
          />
        </form>
        <div class="sent"></div>
      </div>
    </div>

    <div class="down">
      <p class="mail">
        <i class="fa-solid fa-envelope"></i> chauraj345r@gmail.com
      </p>
      <div class="etc">
        <p class="oop">html, css, js as Frontend lang</p>
        <p class="oop">node.js as Backend lang</p>
        <p class="oop">Deployed/Hosted in heroku</p>
        <p class="copy">Raj chaulagain &copy; 2022 aka solo.linux</p>
      </div>
    </div>
  </div>
  <%- include("./includes/end.ejs") %>
</body>
