<%- include("./includes/head.ejs") %>
<body>
  <nav id="nav">
    <div class="nav__container">
      <div class="nav__container__grid">
        <div class="nav__container__grid__element">
          <div class="nav__container__grid__element__image">
            <a href="#intro" class="active">
              <img
                src="https://img.icons8.com/fluency-systems-regular/144/000000/home.png"
                data-src="https://img.icons8.com/fluency-systems-regular/144/F5F5DC/home.png"
                alt="home icon"
                class="img"
              />
            </a>
          </div>
        </div>
        <div class="nav__container__grid__element">
          <div class="nav__container__grid__element__image">
            <a href="#skills" class="">
              <img
                src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/000000/external-briefcase-interface-kiranshastry-lineal-kiranshastry.png"
                data-src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/F5F5DC/external-briefcase-interface-kiranshastry-lineal-kiranshastry.png"
                alt="home icon"
                class="img"
              />
            </a>
          </div>
        </div>
        <div class="nav__container__grid__element">
          <div class="nav__container__grid__element__image">
            <a href="#projects" class="">
              <img src="https://img.icons8.com/ios/100/000000/project.png"
              data-src="https://img.icons8.com/ios/100/F5F5DC/project.png""
              alt="project icon" class="img" />
            </a>
          </div>
        </div>
        <div class="nav__container__grid__element">
          <div class="nav__container__grid__element__image">
            <a href="#contact">
              <img
                src="https://img.icons8.com/fluency-systems-regular/96/000000/contact-card.png"
                data-src="https://img.icons8.com/fluency-systems-regular/96/F5F5DC/contact-card.png"
                alt="Contact icon"
                class="img"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div id="navigator">
    <div class="navigator__container">
      <div class="navigator__container__grid">
        <div class="navigator__container__grid__element">
          <div class="navigator__logo">
            <a href="/" class="navigator__logo__link">
              <div class="navigator__logo__link__image">
                <img src="/img/logo.svg" alt="Logo" class="logo" />
              </div>
            </a>
          </div>
        </div>
        <div class="navigator__container__grid__element">
          <div class="navigator__social">
            <ul class="navigator__social__list">
              <li class="navigator__social__list__item">
                <a href="/login" class="navigator__social__list__item__link">
                  <i class="fa-solid fa-copyright"></i>
                </a>
              </li>
              <li class="navigator__social__list__item">
                <a
                  href="https://www.facebook.com/solo.linux4u/"
                  target="_blank"
                  class="navigator__social__list__item__link"
                >
                  <i class="fa-brands fa-facebook"></i>
                </a>
              </li>
              <li class="navigator__social__list__item">
                <a
                  href="https://www.instagram.com/raj.3__/"
                  target="_blank"
                  class="navigator__social__list__item__link"
                >
                  <i class="fa-brands fa-instagram"></i>
                </a>
              </li>
              <li class="navigator__social__list__item">
                <a
                  href="https://github.com/sololinux"
                  target="_blank"
                  class="navigator__social__list__item__link"
                >
                  <i class="fa-brands fa-github"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="intro">
    <div class="intro__container">
      <div class="intro__container__grid">
        <div class="intro__container__grid__element">
          <div class="intro__container__grid__element__header">
            <h1 class="header">Solo Linux</h1>
          </div>
        </div>
        <div class="intro__container__grid__element">
          <div class="intro__container__grid__element__sub-header">
            <h2 class="sub-header">Hey Everyone!</h2>
          </div>
          <div class="intro__container__grid__element__list">
            <ul class="list">
              <li class="list__item">
                <p class="list__item__para">
                  I am solo <span class="highlight">(aka. Raj)</span>
                </p>
              </li>
              <li class="list__item">
                <p class="list__item__para">And I am learning to code,</p>
              </li>
              <li class="list__item">
                <p class="list__item__para">
                  Insanely, intrested in Cyber Security
                </p>
              </li>
              <li class="list__item">
                <p class="list__item__para">
                  Dreaming to join Anonymous one day.. hehe
                </p>
              </li>
              <li class="list__item">
                <p class="list__item__para">
                  I like <span class="highlight">Backend programming.</span>
                </p>
              </li>
              <li class="list__item">
                <p class="list__item__para">but not so good in Frontend.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="skills">
    <div class="skills__container">
      <div class="skills__container__grid">
        <div class="skills__container__grid__element">
          <div class="skills__container__grid__element__header">
            <h1 class="header">Skills I Aquire</h1>
          </div>
        </div>
        <div class="skills__container__grid__element">
          <div class="content"></div>
        </div>
      </div>
    </div>
  </div>

  <div id="projects">
    <div class="projects__container">
      <div class="projects__container__grid">
        <div class="projects__container__grid__element">
          <div class="projects__container__grid__element__header">
            <h1 class="header">Projects Done by Me</h1>
          </div>
        </div>
        <div class="projects__container__grid__element">
          <div class="projects__container__grid__element__sub-header">
            <h2 class="sub-header">
              These are the <span class="mark">projects</span> I have done
              Previously. <br />
              <span class="mark">Tap/Hover</span> to get details about them
            </h2>
          </div>
        </div>
        <div class="projects__container__grid__element">
          <div class="projects__container__grid__element__child">
            <div class="child">
              <div class="child__container">
                <div class="child__container__grid">
                  <div class="child__container__grid__element">
                    <div class="child__container__grid__element__card">
                      <div class="card">
                        <div class="card__container">
                          <div class="card__container__inner">
                            <div class="card__container__inner__front">
                              <img
                                src="/img/solo-mail.png"
                                alt="Solo mail"
                                class="card__img"
                              />
                            </div>
                            <div class="card__container__inner__back">
                              <div
                                class="card__container__inner__back__content"
                              >
                                <div
                                  class="card__container__inner__back__content__header"
                                >
                                  <h1 class="header">Anonymous Mail sender</h1>
                                </div>
                                <div
                                  class="card__container__inner__back__content__para"
                                >
                                  <p class="para">
                                    Sends anonymous mail and multimails Webapp
                                    made using node.js
                                  </p>
                                </div>
                                <div
                                  class="card__container__inner__back__content__links"
                                >
                                  <a
                                    href="https://solomail.herokuapp.com"
                                    target="_blank"
                                    class="card__container__inner__back__content__links__link"
                                  >
                                    <i class="fa-brands fa-chrome"></i> Visit
                                    the Website
                                  </a>
                                  <a
                                    href="https://github.com/sololinux/soloMail"
                                    target="_blank"
                                    class="card__container__inner__back__content__links__link"
                                  >
                                    <i class="fa-brands fa-github"></i> Go to
                                    Github repo
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="child__container__grid__element">
                    <div class="child__container__grid__element__card">
                      <div class="card">
                        <div class="card__container">
                          <div class="card__container__inner">
                            <div class="card__container__inner__front">
                              <img
                                src="/img/solo-login.png"
                                alt="Solo login"
                                class="card__img"
                              />
                            </div>
                            <div class="card__container__inner__back">
                              <div
                                class="card__container__inner__back__content"
                              >
                                <div
                                  class="card__container__inner__back__content__header"
                                >
                                  <h1 class="header">
                                    Login/Signup Authentication
                                  </h1>
                                </div>
                                <div
                                  class="card__container__inner__back__content__para"
                                >
                                  <p class="para">
                                    Simple login/signup webapp with email
                                    verification and password hashing Webapp
                                    made using node.js and mongodb
                                  </p>
                                </div>
                                <div
                                  class="card__container__inner__back__content__links"
                                >
                                  <a
                                    href="https://solologin.herokuapp.com"
                                    target="_blank"
                                    class="card__container__inner__back__content__links__link"
                                  >
                                    <i class="fa-brands fa-chrome"></i> Visit
                                    the Website
                                  </a>
                                  <a
                                    href="https://github.com/sololinux/soloLogin"
                                    target="_blank"
                                    class="card__container__inner__back__content__links__link"
                                  >
                                    <i class="fa-brands fa-github"></i> Go to
                                    Github repo
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="child__container__grid__element">
                    <div class="child__container__grid__element__card">
                      <div class="card">
                        <div class="card__container">
                          <div class="card__container__inner">
                            <div class="card__container__inner__front">
                              <img
                                src="/img/bash-arch.png"
                                alt="Arch Termimal bashrc"
                                class="card__img"
                              />
                            </div>
                            <div class="card__container__inner__back">
                              <div
                                class="card__container__inner__back__content"
                              >
                                <div
                                  class="card__container__inner__back__content__header"
                                >
                                  <h1 class="header">Linux terminal config</h1>
                                </div>
                                <div
                                  class="card__container__inner__back__content__para"
                                >
                                  <p class="para">
                                    Cool and nice looking linux terminal design
                                    .bashrc made with bash
                                  </p>
                                </div>
                                <div
                                  class="card__container__inner__back__content__links"
                                >
                                  <a
                                    href="https://github.com/sololinux/.bashrc"
                                    target="_blank"
                                    class="card__container__inner__back__content__links__link"
                                  >
                                    <i class="fa-brands fa-github"></i> Go to
                                    Github repo
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="child__container__grid__element">
                    <div class="child__container__grid__element__card">
                      <div class="card">
                        <div class="card__container">
                          <div class="card__container__inner">
                            <div class="card__container__inner__front">
                              <img
                                src="/img/discord-bot.png"
                                alt="Discord bot"
                                class="card__img"
                              />
                            </div>
                            <div class="card__container__inner__back">
                              <div
                                class="card__container__inner__back__content"
                              >
                                <div
                                  class="card__container__inner__back__content__header"
                                >
                                  <h1 class="header">Discord Bot</h1>
                                </div>
                                <div
                                  class="card__container__inner__back__content__para"
                                >
                                  <p class="para">
                                    Simple discord meme and joke bot. Made using
                                    python
                                  </p>
                                </div>
                                <div
                                  class="card__container__inner__back__content__links"
                                >
                                  <a
                                    href="https://discord.com/oauth2/authorize?client_id=947876744965271582&scope=bot"
                                    target="_blank"
                                    class="card__container__inner__back__content__links__link"
                                  >
                                    <i class="fa-brands fa-discord"></i> Get the
                                    bot in your server
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="child__container__grid__element">
                    <div class="child__container__grid__element__card">
                      <div class="card">
                        <div class="card__container">
                          <div class="card__container__inner">
                            <div class="card__container__inner__front">
                              <img
                                src="/img/ig.png"
                                alt="Insta scrapper"
                                class="card__img"
                              />
                            </div>
                            <div class="card__container__inner__back">
                              <div
                                class="card__container__inner__back__content"
                              >
                                <div
                                  class="card__container__inner__back__content__header"
                                >
                                  <h1 class="header">InstaPost scraper</h1>
                                </div>
                                <div
                                  class="card__container__inner__back__content__para"
                                >
                                  <p class="para">
                                    Fetches instagram posts and views in html
                                    insta clone using Basic Display Api.
                                  </p>
                                </div>
                                <div
                                  class="card__container__inner__back__content__links"
                                >
                                  <a
                                    href="https://github.com/sololinux/getInstaFeed"
                                    target="_blank"
                                    class="card__container__inner__back__content__links__link"
                                  >
                                    <i class="fa-brands fa-github"></i> Go to
                                    Github repo
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="projects__container__grid__element">
          <div class="projects__container__grid__element__para">
            <p class="para">
              Some of the project may not work as I don't have time to maintain
              them.. solo is bg
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="contact">
    <div class="contact__container">
      <div class="contact__container__grid">
        <div class="contact__container__grid__element">
          <div class="contact__container__grid__element__header">
            <h1 class="header">
              Want to <span class="highlight">contact</span> me,<br />Leave a
              <span class="highlight">Message</span>
            </h1>
          </div>
        </div>
        <div class="contact__container__grid__element">
          <div class="contact__container__grid__element__form">
            <form action="#" id="form">
              <div class="form__container">
                <input
                  type="text"
                  name="Name"
                  id="name"
                  class="input"
                  placeholder=" "
                />
                <label for="name" class="label">Name</label>
              </div>
              <div class="form__container">
                <input
                  type="email"
                  name="email"
                  id="email"
                  class="input"
                  placeholder=" "
                />
                <label for="email" class="label">Email</label>
              </div>
              <div class="form__container">
                <textarea
                  name="text"
                  id="text"
                  cols="30"
                  rows="10"
                  class="input textarea"
                  placeholder=" "
                ></textarea>
                <label for="text" class="label textarea__label">Message</label>
              </div>
              <div class="form__container">
                <input type="submit" value="Send" class="submit__btn" />
              </div>
            </form>

            <div class="contact__container__grid__element__form__bg">
              <img
                src="/img/Group.svg"
                alt="Form Background"
                class="form__bg"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer id="footer">
    <div class="footer__container">
      <div class="footer__container__grid">
        <div class="footer__container__grid__element">
          <div class="footer__container__grid__element__content">
            <div class="footer__container__grid__element__content__header">
              <h1 class="header">Technology Used</h1>
            </div>
            <div class="footer__container__grid__element__content__list">
              <ul class="list">
                <li class="list__item">Frontend:- HTML and CSS</li>
                <li class="list__item">Backend:- Node.js</li>
                <li class="list__item">
                  Deployed in:- Cpanel / Cloudflare for protection
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer__container__grid__element">
          <div class="copyright">
            <p class="copy">
              &copy; Raj chaulagain <span class="date"></span> (aka. Solo Linux)
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <%- include("./includes/end.ejs") %>
</body>
